.container {
	background-image: url('../../assets/landingPageBg.jpg');
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.btn {
	width: 180px;
	padding: 10px;	
	border: none;
	border-radius: 25px;
	font-family: 'cursive';
	font-size: 18px;
	box-shadow: 2px 4px 10px #3b3a30;
	margin-bottom: 60%;
	background-color: #F2F3F4;
}

.btn:hover {
	background-color: #E5E7E9;
}

.title {
	margin-bottom: 30px;	
	font-size: 50px;
	font-family: fantasy;
	color: #F2F3F4;
	text-shadow: 10px 10px 10px #3b3a30;
}